AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_LLM_DEPLOYMENT_NAME=
AZURE_OPENAI_SLM_DEPLOYMENT_NAME=
CONTENT_SAFETY_ENDPOINT=
USER_NAME="John Doe"
USER_ROLE="Customer"
WEATHER_API_KEY=
# Source: https://openweathermap.org/
WEATHER_API_URL="https://api.openweathermap.org/data/2.5/weather"
EXCHANGE_RATE_API_KEY=
# Source: https://www.exchangerate-api.com/
EXCHANGE_RATE_API_URL="https://v6.exchangerate-api.com/v6"
# Source: https://glama.ai/mcp/connectors/ai.exa/exa#web_search_exa
EXA_MCP_URL="https://mcp.exa.ai/mcp"
